body,
nav {
  font-family: "Work Sans", sans-serif;
  color: #112d4e;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Crimson Text", serif;
}

section {
  padding: 3% 15%;
}

h3 {
  text-align: center;
}

/* about me section */
#about-me {
  background-color: #f9f7f7;
  color: #112d4e;
}

#about-me p {
  font-size: 1.25rem;
}

#about-me p strong {
  font-size: 2rem;
}

#about-me p strong {
  margin: 0 auto;
}

.btn {
  background-color: #112d4e;
  border: none;
  color: #fff;
}

.btn:hover {
  transition: ease 0.3s;
  /* filter: brightness(120%); */
  color: #fff;
  background-color: #9aadbf;
}

.btn:active {
  position: relative;
  top: 1px;
}
v c h1 {
  text-align: center;
  font-size: 7rem;
}

h2 {
  text-align: center;
}

hr {
  width: 30%;
  border-color: #112d4e;
  margin: 20px auto;
}

h3 {
  font-size: 3.5rem;
}

/* experience adjustments for ipad/iphone */
@media (max-width: 980px) {
  #about-me {
    text-align: center;
  }

  .first-heading {
    margin-top: 7px;
  }

  #about-me h5 {
    font-size: 4rem;
    margin-top: 4%;
  }

  #about-me p {
    font-size: 2rem;
  }
  #about-me a {
    font-size: 1.5rem;
    margin-top: 2%;
  }
}

/* experience adjustments for full screen desktop */
@media (min-width: 1199px) {
  section {
    padding: 3% 25%;
  }
}

/* projects section */
#projects {
  background-color: #dbe2ef;
  color: #112d4e;
  padding: 3% 12%;
}

.project-img {
  height: 200;
  width: 200;
}

.card-img-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
  background: #000;
}

.card:hover .card-img-overlay {
  opacity: 0.9;
}

.overlay-text {
  color: #fff;
}
/* abilities section */
#abilities {
  background-color: #f9f7f7;
  color: #112d4e;
}

.abilities-list {
  list-style-type: none;
  padding: 0;
}

/* contact section */
#contact {
  text-align: center;
  background-color: #3f72af;
  color: #f9f7f7;
  padding-bottom: 5%;
}

.footer-link {
  color: #f9f7f7;
  transition: color 0.5s;
  text-decoration: none;
}

.footer-link:hover {
  color: #112d4e;
  text-decoration: none;
}

.footer-icon {
  margin: 0 5px;
}
