body,
nav {
  font-family: "Work Sans", sans-serif;
  color: #112d4e;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Crimson Text", serif;
}

section {
  padding: 3% 15%;
}

h3 {
  text-align: center;
}

/* about me section */
#about-me {
  background-color: #f9f7f7;
  color: #112d4e;
}

.about-me-info-card-txt {
  margin: auto 0;
}

.info-card-txt {
  font-size: 2rem;
  margin: 2% 0;
}

.info-card-txt strong {
  font-size: 2.5rem;
  margin: 0 auto;
}

.about-me-icon {
  width: 2.25rem;
  text-align: center;
  margin-right: 10px;
}

.btn {
  background-color: #112d4e;
  border: none;
  color: #fff;
}

.btn:hover {
  transition: ease 0.3s;
  /* filter: brightness(120%); */
  color: #fff;
  background-color: #9aadbf;
}

.btn:active {
  position: relative;
  top: 1px;
}

h2 {
  text-align: center;
}

.about-me-link {
  text-decoration: none;
}

.section-header {
  margin-bottom: 0;
}
.header-underline {
  width: 15%;
  border-color: #112d4e;
  margin: 0 0 3px;
}

/* experience adjustments for ipad/iphone */
@media (max-width: 980px) {
  .about-me-info-card {
    text-align: left;
    margin-bottom: 2%;
  }

  .first-heading {
    margin-top: 7px;
  }

  .btn-row {
    text-align: center;
    display: flex;
    justify-content: space-between;
    width: 75%;
    margin: 0 auto;
  }

  .btn {
    font-size: 3rem;
    margin: auto;
  }

  .about-me-paragraph {
    margin-top: 7%;
  }

  .about-me-paragraph-txt {
    font-size: 2rem;
  }

  .header-underline {
    width: 30%;
    border-color: #112d4e;
    margin: 0 0 3px;
  }
  .about-me-info-card-txt {
    font-size: 2rem;
  }
}

/* experience adjustments for full screen desktop */
@media (min-width: 1199px) {
  .about-me-info-card {
    padding: 3% 22%;
  }
}

/* projects section */
#projects {
  background-color: #dbe2ef;
  color: #112d4e;
}

.project-img {
  height: 200;
  width: 200;
}

.card-img-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
  background: #000;
}

.card:hover .card-img-overlay {
  opacity: 0.9;
}

.overlay-text {
  color: #fff;
}
/* abilities section */
#abilities {
  background-color: #f9f7f7;
  color: #112d4e;
}

.abilities-list {
  list-style-type: none;
  padding: 0;
}

/* contact section */
#contact {
  text-align: center;
  background-color: #3f72af;
  color: #f9f7f7;
  padding-bottom: 5%;
}

.footer-link {
  color: #f9f7f7;
  transition: color 0.5s;
  text-decoration: none;
}

.footer-link:hover {
  color: #112d4e;
  text-decoration: none;
}

.footer-icon {
  margin: 0 5px;
}
